@model List<BillImport>
@{ CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN"); }
@foreach (var item in Model)
{
    <tr>
        <td>@item.CreationTime.ToString("dd/MM/yyyy")</td>
        <td>@item.TotalPrice.ToString("#,###", cul.NumberFormat) VND</td>
        <td>
            <button type="button" class="btn btn-danger" style="width: 200px;">
                @if (item.BillImportType == BillImportType.AwaitingApproval)
                {
                    <span>Đang chờ</span>
                }
                else if (item.BillImportType == BillImportType.Cancel)
                {
                    <span>Đã hủy</span>
                }
                else
                {
                    <span>Đã nhập</span>
                }
            </button>
        </td>
        <td><a href="@Url.Action("Index", "BillImportInfo", new { id = item.Id })" class="btn btnView btn-outline-success">Xem chi tiết</a></td>
    </tr>
}